.login-form {
    align-items: center;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.login-form__box {
    background: fade-out(white, .15);
    border-radius: 4px;
    text-align: center;
    width: 40rem;
    padding: $l-size $m-size;
}

.login-form__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}