.justify-content-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }


  .browser-mockup {
    border-top: 50px solid #f7f7f7;
    position: relative;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: -5.665px 9.429px 35px 0 rgba(0,0,0,.2);
    box-shadow: -5.665px 9.429px 35px 0 rgba(0,0,0,.2);
    
}

.browser-mockup>* {
    display: block;
}

.tab-content>.active {
    display: block;
}

.tab-content>.tab-pane {
    display: none;
}

.fade.show {
    opacity: 1;
}

.fade {
    transition: opacity .15s linear;
}

*, ::after, ::before {
    box-sizing: inherit;
}

section.browser .nav-tabs {
    margin-top: 80px;
    border: none;

}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

section.browser .nav-tabs a.active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}


.bg-gray, section.browser .nav-tabs a.active {
    background: #f5f5f5;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}

section.browser .nav-tabs a {
    border: none;
    background: none;
    border-right: 0;
    padding: 50px 50px 40px;
    color: #333;
    color: #5989e5;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #007bff;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: -webkit-link;
    cursor: pointer;
    font-weight: bold;
}

section.browser .nav-tabs a, section.browser .nav-tabs span.number {
    text-align: center;
    -webkit-box-shadow: -5.665px 9.429px 35px 0 rgba(0,0,0,.2);
    box-shadow: -5.665px 9.429px 35px 0 rgba(0,0,0,.2);
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}


[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .mb-5 {
    margin-bottom: 3rem !important;
  }

  .tab-content > .tab-pane {
    display: none;
  }
  
  .tab-content > .active {
    display: block;
  }

  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }

  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }
  
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #ddd;
  }
  
  .nav-tabs .nav-link.disabled {
    color: #868e96;
    background-color: transparent;
    border-color: transparent;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
  }

  .col-md-4 {
    -ms-flex: 0 0 30%;
        flex: 0 0 30%;
    max-width: 30%;
    position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  radius: 20px;
  }

  @media(max-width: 62rem){
    .col-md-4{
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
    max-width: 85%;
    width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
    }
  }


  .rowBW {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: inherit;
  }

  *, ::after, ::before {
    box-sizing: inherit;
}
  
  section.browser .nav-tabs {
    margin-top: 80px;
    border: none;
    display: block;
  }
  
  section.browser .nav-tabs span.number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #f08080;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    display: block;
    position: absolute;
    left: calc(50% - 25px);
    top: -25px;
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  section.browser .nav-tabs a {
    border: none;
    background: none;
    border-right: 0;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    padding: 50px 50px 40px;
    text-align: center;
    color: #333;
  }
  
  section.browser .nav-tabs a.active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  
  /* Browser Section Mediaquery --------------------------- */
  @media (max-width: 767px) {
    section.browser .nav-tabs a {
      margin-bottom: 50px;
    }
    section.browser .nav-tabs a.active {
      -webkit-transform: none;
      transform: none;
    }
    section.browser .nav-tabs .rowBW div:last-of-type a {
      margin-bottom: 0;
    }
  }

  section{
    margin-bottom: 40px;
    margin-top: 0px;
  padding-bottom: 150px;
  overflow: hidden;
 
  }

  a {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
  }

  .browser-mockup {
    border-top: 50px solid #f7f7f7;
    position: relative;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    
  }
  
  .browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -29px;
    left: 30px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f44;
    -webkit-box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }
  
  .browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -50px;
    left: 115px;
    width: 20%;
    height: 0rem;
    border-bottom: 50px solid white;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
  }
  
  .browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6rem;
    left: 5.5rem;
    width: calc(100% - 6em);
    height: 1.2rem;
    border-radius: 2px;
    background-color: white;
  }
  
  .browser-mockup > * {
    display: block;
  }



  .containerBW {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  
  @media (min-width: 576px) {
    .containerBW {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .containerBW {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .containerBW {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .containerBW {
      max-width: 1140px;
    }
  }

  .but{
    margin-bottom: 3rem!important;
  }

  .BWW{
    text-decoration: none;
  }