.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
  color: black;
}

.button--secondary {
  background: #888;
}

.btn-danger-WA{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-WA {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: white;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.woulobutton {
    padding: $s-size;
    width: 20%;
    font-size: larger;
    text-transform: uppercase;
    font-size: 2.0rem;
    text-transform: capitalize;
    border: none;
    border-left: .6rem solid darken(#dc3545, 10%);
    border-bottom: .6rem solid darken(#dc3545, 10%);
    border-radius: 7px;
    box-sizing: border-box;
    text-decoration-color: white;
}

@media(max-width: 63rem){
  .woulobutton{
    width : 90%;
    margin: 0 auto;
    text-align : center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}


.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.jumbotron-header .btn {
  margin-right: 1rem;
}

.calltoaction{
  background-color: blue;
  padding-top: 55px;
    padding-bottom: 55px;
}

.calltoaction__title{
  color: white;
}




.btnAdd {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #dc3545;
  background-color: white;
  background-image: none;
  border-color: #dc3545;
  padding: $s-size;
    width: 10%;
  font-size: larger;
  border-radius: 7px;
}

